.body{
    margin: 0;
    padding: 0;
}

.flex{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex1 {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.flex {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h1,h3{
    color: rgb(182, 21, 21);
}

fix{
    width:90%;
    height: 10vh;
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}